<div class="app-container">
  <div *ngIf="comments.length === 0; else showComments">
    There are no comments to display
  </div>


  <ng-template #showComments>
    <div class="comments-list">
      <ul>
        <li *ngFor="let comment of comments" class="comment">
          {{ comment.commentText }}
        </li>
      </ul>
    </div>
  </ng-template>
  
  <div class="new-comment">
    <textarea [formControl]="newComment" placeholder="leave detailed comment...."></textarea>
    <div class="user-suggestions" *ngIf="showUserSuggestions">
      <div *ngFor="let user of suggestedUsers" (click)="onUserSuggestionClick(user.name)" class="user-suggestion">
        {{ user.name }}
      </div>
    </div>
  </div>
  
</div>
